<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Registration</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>


  <section class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container-fluid h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 mb-5">
        <!-- <div class="col-8 col-md-10 col-lg-6 col-xl-5 mb-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
              alt="Sample image">
          </div> -->
        <div
          class="col-8 col-md-9 col-lg-8 col-xl-8 d-flex flex-column justify-content-center align-items-center mb-5 mt-5">
          <h1 class="display-2 mb-5 mt-5">Add Question</h1>
          <form id="f" th:action="@{/add-quiz}" method="post" th:object="${quiz}" class="col-lg-6">
            <!-- Content input -->
            <div class="form-outline mb-3">
              <label for="content">Quiz</label>
              <textarea form="f" type="text" class="form-control" id="content" aria-describedby="content"
                placeholder="Content" th:field="*{question}"></textarea>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('question')}" th:errors="*{question}" ></div>
            </div>

            <div class="form-outline mb-3">
                <label for="content">Answer</label>
                <textarea form="f" type="text" class="form-control" id="content" aria-describedby="content"
                  placeholder="Content" th:field="*{answer}"></textarea>
                  <div class="alert alert-danger" th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}" ></div>
              </div>


            <div class="d-flex justify-content-between align-items-center">

              <div class="text-center text-lg-start mt-4 pt-2 ml-0">
                <button type="submit" class="btn btn-primary btn-lg" style=" padding-right: 2.5rem;">Add Quiz</button>
              </div>

          </form>
        </div>
      </div>

      <!-- <footer
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary footer-copyright text-center py-3 fixed-bottom">
        
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2020. All rights reserved.
        </div>
      </footer> -->

    </div>
  </section>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>